<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <EDQ_AddressValidation>
            <version>1.0.5</version>
        </EDQ_AddressValidation>
    </modules>	
    <global> 
        <resources>
            <addressvalidation_setup>
                <setup>
                    <module>EDQ_AddressValidation</module>
                </setup>
            </addressvalidation_setup>
        </resources> 
        <helpers>
            <addressvalidation>
                <class>EDQ_AddressValidation_Helper</class>
            </addressvalidation>
        </helpers>
        <models> 
            <addressvalidation>                
                <class>EDQ_AddressValidation_Model</class>
                <resourceModel>addressvalidation_resource</resourceModel>
            </addressvalidation>
            <addressvalidation_resource>
                <class>EDQ_AddressValidation_Model_Resource</class>
                <entities>
                    <customer>
                        <table>addressvalidation_customer</table>
                    </customer>
                    <quote>
                        <table>addressvalidation_quote</table>
                    </quote>
                </entities>
            </addressvalidation_resource>
        </models>     
        <events>
            <adminhtml_init_system_config>
                <observers>
                    <EDQ_AddressValidation>
                        <type>singleton</type>
                        <class>addressvalidation/observer</class>
                        <method>adminhtmlBlockSystemConfigInitTabSectionsBefore</method>
                    </EDQ_AddressValidation>
                </observers>
            </adminhtml_init_system_config>
            <customer_address_save_after>
                <observers>
                    <EDQ_AddressValidation>
                        <type>singleton</type>
                        <class>addressvalidation/observer</class>
                        <method>customerAddressSaveAfter</method>
                    </EDQ_AddressValidation>
                </observers>
            </customer_address_save_after> 
        </events> 
    </global>
    <adminhtml> 
        <layout>
            <updates>
                <addressvalidation module="EDQ_AddressValidation">
                    <file>edqaddressvalidation.xml</file>
                </addressvalidation>
            </updates>
        </layout>        
        <translate>
            <modules>
                <EDQ_AddressValidation>
                    <files>
                        <default>EDQ_AddressValidation.csv</default>
                    </files>
                </EDQ_AddressValidation>
            </modules>
        </translate>         
    </adminhtml> 
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <use>admin</use>
                    <modules>
                        <EDQ_AddressValidation before="Mage_Adminhtml">EDQ_AddressValidation</EDQ_AddressValidation>
                        <frontName>admin</frontName>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>  
        <routers>
            <customer>
                <args>
                    <modules>
                        <EDQ_AddressValidation before='Mage_Customer'>EDQ_AddressValidation</EDQ_AddressValidation>
                    </modules>
                </args>
            </customer>
            <checkout>
                <args>
                    <modules>
                        <EDQ_AddressValidation before='Mage_Checkout'>EDQ_AddressValidation</EDQ_AddressValidation>
                    </modules>
                </args>
            </checkout>
        </routers> 
        <translate>
            <modules>
                <EDQ_AddressValidation>
                    <files>
                        <default>EDQ_AddressValidation.csv</default>
                    </files>
                </EDQ_AddressValidation>
            </modules>
        </translate>  
        <layout>
            <updates>
                <addressvalidation module="EDQ_AddressValidation">
                    <file>edqaddressvalidation.xml</file> 
                </addressvalidation>
            </updates>
        </layout>
    </frontend>    
    <default>
        <experiandataquality_addressvalidation>
            <settings>
                <service_type><![CDATA[proondemand]]></service_type>
                <endpoint><![CDATA[https://ws2.ondemand.qas.com/ProOnDemand/V3/ProOnDemandService.asmx]]></endpoint>
                <enable_ati><![CDATA[0]]></enable_ati>
                <usa_clean><![CDATA[0]]></usa_clean>
                <usa_layout><![CDATA[USA2 TitleCase Retention DPV]]></usa_layout>
                <use_layout><![CDATA[USE2 AptLine2 TitleCase Retention]]></use_layout>
                <can_clean><![CDATA[0]]></can_clean>
                <can_layout><![CDATA[CAN2 TitleCase Retention LVR]]></can_layout>
                <gbr_clean><![CDATA[0]]></gbr_clean>
                <gbr_layout><![CDATA[QADefault]]></gbr_layout>
                <deu_clean><![CDATA[0]]></deu_clean>
                <deu_layout><![CDATA[MegentoDEU]]></deu_layout>
                <irl_clean><![CDATA[0]]></irl_clean>
                <irl_layout><![CDATA[MagentoIRL]]></irl_layout>                
                <use_proxy><![CDATA[0]]></use_proxy>
                <user_interaction><![CDATA[1]]></user_interaction>
                <manual_address_entry><![CDATA[0]]></manual_address_entry>
                <lvr><![CDATA[6]]></lvr>
                <ir_disp><![CDATA[5]]></ir_disp>
            </settings>
        </experiandataquality_addressvalidation>
    </default>
</config>
