<?xml version="1.0"?>
    <config>	
	<modules>
            <EDQ_EmailAndPhoneValidation>
                <version>1.0.0.0</version>
            </EDQ_EmailAndPhoneValidation>
	</modules>	
	<frontend>
            <routers>
                <edq_emailandphonevalidation>
                    <use>standard</use>
                    <args>
                        <module>EDQ_EmailAndPhoneValidation</module>
                        <frontName>edq</frontName>
                    </args>
                </edq_emailandphonevalidation>
            </routers> 
            <layout>
                <updates>
                    <emailandphonevalidation>
                        <file>edqemailandphonevalidation.xml</file> 
                    </emailandphonevalidation>
                </updates>
            </layout> 
        </frontend>  
        <adminhtml>
            <layout>
                <updates>
                    <emailandphonevalidation>
                        <file>edqemailandphonevalidation.xml</file>
                    </emailandphonevalidation>
                </updates>
            </layout>
        </adminhtml>  
        <global>
            <models> 
                <emailandphonevalidation>
                    <class>EDQ_EmailAndPhoneValidation_Model</class> 
                </emailandphonevalidation>
            </models>        
            <helpers>
                <edq_emailandphonevalidation>
                    <class>EDQ_EmailAndPhoneValidation_Helper</class>
                </edq_emailandphonevalidation>
            </helpers>
            <events>
                <adminhtml_init_system_config>
                    <observers>
                        <edq_init_system_config>
                            <class>emailandphonevalidation/observer</class>
                            <method>addExperianModuleTab</method>
                        </edq_init_system_config>
                    </observers>
                </adminhtml_init_system_config>
            </events>
        </global> 
        <default>
            <experiandataquality_emailandphonevalidation>
                <settings>
                    <enable_email_validate><![CDATA[1]]></enable_email_validate>
                    <email_validation_token><![CDATA[]]></email_validation_token>
                    <email_service_url><![CDATA[https://api.experianmarketingservices.com/Query/EmailValidate/1.0/]]></email_service_url>
                    <enable_phone_validate><![CDATA[1]]></enable_phone_validate>
                    <phone_validation_token><![CDATA[]]></phone_validation_token>    
                    <phone_service_url><![CDATA[https://api.experianmarketingservices.com/Query/PhoneValidate/2.0/]]></phone_service_url>            
                    <phone_default_country><![CDATA[+1]]></phone_default_country>
                    <use_phone_country_selection><![CDATA[0]]></use_phone_country_selection>
                </settings>
                <security>
                    <session_token_life_time_in_minutes><![CDATA[20]]></session_token_life_time_in_minutes>
                    <enable_session_token_security><![CDATA[1]]></enable_session_token_security>
                </security>
            </experiandataquality_emailandphonevalidation>
        </default>
    </config>